<input type="text" [(ngModel)]="title" />
{{ title }}

<input type="text" [(ngModel)]="power" />
{{ power | exponential }}

<div *ngIf="title === 'sergio'">This is Sergio</div>
<div *ngIf="title === 'julian'">This is Julian</div>
<div *ngIf="title === 'camilo'">This is Camilo</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'sergio'">This is Sergio</p>
  <p *ngSwitchCase="'julian'">This is Julian</p>
  <p *ngSwitchCase="'camilo'">This is Camilo</p>
  <p *ngSwitchDefault>Not match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">Empty list</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>
