<input type="text" [(ngModel)]="title" />
{{ title }}

<div *ngIf="title === 'sergio'">Este es Sergio</div>
<div *ngIf="title === 'julian'">Este es Julian</div>
<div *ngIf="title === 'camilo'">Este es Camilo</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'sergio'">Este es Sergio</p>
  <p *ngSwitchCase="'julian'">Este es Julian</p>
  <p *ngSwitchCase="'camilo'">Este es Camilo</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista está vacía</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>

<div class="product-grid">
  <app-product
    *ngFor="let product of products"
    (productClicked)="clickProduct($event)"
    [product]="product"
  ></app-product>
</div>
